<%= form_for(@activity_process) do |f| %>
  <% if @activity_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity_process.errors.count, "error") %> prohibited this activity_process from being saved:</h2>

      <ul>
      <% @activity_process.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <div class="field">
    <%= f.label :nome_da_atividade %><br>
    <%= f.text_field :name_activity %>
  </div>
  <div class="field">
    <%= f.label :processo_da_atividade %><br>
    <%= f.collection_select :SelectiveProcess_id, SelectiveProcess.all, :id, :name_process, :prompt => true %><br>
  </div> 
  <div class="field">
    <%= f.label :responsavel %><br>
    <%= f.collection_select :responsible_activity, User.all, :id, :name, :prompt => true %><br>
  </div>
  <div class="field">
    <%= f.label :descrição %><br>
    <%= f.text_area :descricao_activity %><br>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.date_select :deadline_activity %>
  </div>
  <div class="actions">
    <%= f.submit :"Criar Atividade", class: "btn btn-success btn-md", style: "color:white;  float: left"%>
  </div>
<% end %>
<%= link_to 'Voltar', root_path, class: "btn btn-warning btn-md", style: "color:white; margin-left:1%;" %>
</div>
