<h1>Lista de Atividades do Processo</h1>

<table>
  <thead>
    <tr>
      <th>Processo</th>
      <th>Nome da Atividade</th>
      <th>Responsável pela Atividade</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activity_processes.each do |activity_process| %>
      <% @process = SelectiveProcess.find(activity_process.SelectiveProcess_id) %>
      <tr>
        <td><%= @process.name_process %></td>
        <td><%= activity_process.name_activity %></td>
        <td><%= activity_process.responsible_activity %></td>
        <td><%= activity_process.deadline_activity %></td>
        <td><%= link_to 'Ver', activity_process %></td>
        <td><%= link_to 'Editar', edit_activity_process_path(activity_process) %></td>
        <td><%= link_to 'Excluir', activity_process, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Atividade', new_activity_process_path %>
