<p id="notice"><%= notice %></p>

<div class="container">
  
    <div class="jumbotron">
    
     <div class ="row">
      <center>

        <h1><%= @activity_process.name_activity %></h1 >
           </center>
          <p>
            <strong>Processo:</strong>
            <%=@process.name_process%>
          </p>
            <p>
              <% @responsible_actvity = User.find(@activity_process.responsible_activity) %>
              <strong>Responsável:</strong>
              <%= @responsible_actvity.name %>
            </p>

            <p>
              <strong>Deadline:</strong>
              <%= @activity_process.deadline_activity %>
            </p>
            <p>
            <strong>Descrição:</strong>
            <p><%= @activity_process.description_activity %></p>
          </p>
          </div>
         </div>

<div = "row">
<center>
  <h3>Comentários</h3>
  
<% @feedbacks.each do |feedback| %>
</center>
 <div class="panel panel-primary">

      <div class="panel-heading"><strong><center><%= feedback.author%>: </strong><%= feedback.subject%></center></div>
      
      <div class="panel-body"><%= feedback.content %></div>
  </div>

<% end %>
</center>
<h3>Comentar</h3>
<%= render 'form_feedback' %>
<%= link_to 'Voltar', "/selective_processes/#{@activity_process.SelectiveProcess_id}", class: "btn btn-warning btn-md", style: "color:white;" %>

</div>
</div>


           

