<p id="notice"><%= notice %></p>

<p>
  <strong>Processo:</strong>
  <%=@process.name_process%>
</p>

<p>
  <strong>Nome Atividade:</strong>
  <%= @activity_process.name_activity %>
</p>

<p>
  <strong>Responsável pela Atividade:</strong>
  <%= @activity_process.responsible_activity %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @activity_process.deadline_activity %>
</p>


<% if current_user.is_admin %>
	<%= link_to 'Editar', edit_activity_process_path(@activity_process) %> |
<% else %>
	<% # do noting %>
<% end %>

<%= link_to 'Criar comentario', new_feedback_path %> 
<%= link_to 'Ver comentários', feedbacks_path %>

<%= link_to 'Voltar', @process %>
