<%= form_for(@selective_process) do |f| %>
  <% if @selective_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selective_process.errors.count, "error") %> prohibited this selective_process from being saved:</h2>

      <ul>
      <% @selective_process.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_do_processo %><br>
    <%= f.text_field :name_process %>
  </div>
  <div class="field">
    <%= f.label :responsavel %><br>
    <%= f.collection_select :responsible, User.all, :id, :name, :prompt => true %><br>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.date_select :deadline %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
