<%= form_for(@selective_process) do |f| %>
  <div class="container">
  <% if @selective_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selective_process.errors.count, "Erro") %> Processo não pode ser criado:</h2>

      <ul>
      <% @selective_process.errors.each do |attr,msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
  <div class="container">
  <div class="field">
    <%= f.label :nome_do_processo %><br>
    <%= f.text_field :name_process %>
  </div>
  <div class="field">
    <%= f.label :responsavel %><br>
    <%= f.collection_select :responsible, User.all, :id, :name, :prompt => "Selecione um responsável" %><br>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.date_select :deadline %>
  </div>
  <div class="actions">
    <%= f.submit :"Criar Processo", class: "btn btn-success btn-md", style: "color:white;  float: left"%>
  </div>
<% end %>
<%= link_to 'Voltar', root_path, class: "btn btn-warning btn-md", style: "color:white; margin-left:1%;" %>
</div>
