<h1>Lista de Processos</h1>

<table>
  <thead>
    <tr>
      <th>Nome do processo</th>
      <th>Responsável</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @selective_processes.each do |selective_process| %>
      <tr>
        <td><%= selective_process.name_process %></td>
        <td><%= selective_process.responsible %></td>
        <td><%= selective_process.deadline %></td>
        <td><%= link_to 'Ver', selective_process %></td>
        <td><%= link_to 'Editar', edit_selective_process_path(selective_process) %></td>
        <td><%= link_to 'Excluir', selective_process, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Processo', new_selective_process_path %>
