<p id="notice"><%= notice %></p>

<p>
  <strong>Nome do processo:</strong>
  <%= @selective_process.name_process %>
</p>

<p>
  <strong>Responsável:</strong>
  <%= @responsible.name %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @selective_process.deadline %>
</p>

<p>
	<strong>Atividades:</strong>
	<% @activities.each do |activity| %>

	<%= link_to activity.name_activity, activity %>
	<% end %>
</p>

<% if current_user.is_admin %>
  <%= link_to 'Editar', edit_selective_process_path(@selective_process) %> |
<% else %>
  <% # do nothing %>
<% end %>
<%= link_to 'Voltar', selective_processes_path %>
